/* animations across all diferent files */

/* subfolder animations first */

@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.linkbox a i:hover {
  cursor: pointer;
  animation: scaleup 1.2s ease 1 forwards;
}

@keyframes headingcolorchange {
  from {
    background: none;
    color: white;
    background-position: 0% 50%;
  }
  to {
    background: linear-gradient(
      27deg,
      rgb(188, 94, 106) 0%,
      rgb(109, 127, 220) 100%
    );
    /* apply the gradient to the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 50% 100%;
  }
}

#navheading:hover {
  cursor: pointer;
  /* try backwards later */
  animation: headingcolorchange 0.2s ease normal forwards;

  /* transition: all 0.3s ease; */
}

@keyframes RotateandScale {
  0% {
    /* scale(0.3) means 30% of the original size. */
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.3) rotate(-260deg);
  }
  100% {
    /* can chain many transforms in a single line though */
    transform: scale(1) rotate(360deg);
  }
}
.fa-github:hover {
  cursor: pointer;
  animation: RotateandScale 2s ease;
}

@keyframes substackanimation1 {
  0% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  1% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
  10% {
    transform: scale(1.2) rotate(45deg) translate(20px, -200px);
    fill: rgb(220, 38, 38); /* for SVG */
  }
  40% {
    transform: scale(1.4) rotate(45deg) translate(20px, -500px);
    fill: #ff7731;
  }

  51% {
    transform: scale(1.5) rotate(42deg) translate(20px, -470px);
    fill: #ff7731;
  }
  65% {
    transform: scale(1.6) rotate(40deg) translate(20px, -467px);
    fill: #cf591e;
  }
  74% {
    transform: scale(1.3) rotate(37deg) translate(20px, -450px);
    fill: #cf591e;
  }
  75% {
    fill: #ff7731;
  }
  90% {
    fill: #ff7731;
  }

  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}

.animating {
  /* means you cant retrigger the animation once its already animating */
  pointer-events: none;
}
.animated-substack {
  cursor: pointer;
  animation: substackanimation1 10s ease forwards;
}
/* .bi-substack:hover {
  cursor: pointer;
} */
