/* this controls the syling of the index.html file for the website */

body {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#heading {
  /* font-size: 110%; */
  /* this is made transparent later and covered by the background */
  color: rgb(6, 6, 63);

  background: linear-gradient(
    27deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 94, 1) 100%
  );
  /* clips the background to the shape of text */
  -webkit-background-clip: text;
  /* make the other text color transparent */
  -webkit-text-fill-color: transparent;

  font-size: 40px;
  /* padding: 0 100px 0 0; */
}
.headingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* grid box stuff */
  align-self: stretch;
  justify-self: stretch;
  grid-row: 1;
  grid-column: 2;
  flex: 1;
  padding-right: 58px;
}
/* this is the h2 element itself */
#about {
  color: rgb(6, 6, 63);

  background: linear-gradient(
    27deg,
    rgba(63, 94, 251, 1) 0%,
    rgb(43, 140, 182) 100%
  );
  /* clips the background to the shape of text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
/* need a div for it due to the grid stuff. To align positioning in the grid.  */
.aboutdiv {
  grid-column: 4;
  font-size: 25px;
  padding: 10px 0 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* grid box stuff */
  align-self: stretch;
  justify-self: stretch;
}

#about a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;
  text-underline-position: below;

  font-weight: bold;

  background: linear-gradient(
    27deg,
    rgb(196, 83, 105) 0%,
    rgb(43, 140, 182) 100%
  );
  /* clips the background to the shape of text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sitecontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maingrid {
  /* initialize a grid here */
  /* use media quieries as well */
  display: grid;
  grid-template: 1fr 60px repeat(7, 1fr) / 60fr 35% 10% 35% 40fr;
  width: 90vw;
  height: 85vh;
  min-height: 550px;
  margin: 50px 50px;
  /* this border style is dooope */
  border: 5px groove rgb(11, 45, 102);
  border-radius: 26px;
  /* this changes where the grid items are in the grid box */
  justify-items: center; /*horizontal*/
  align-items: center; /*vertical*/
}

.linksdiv {
  background: linear-gradient(
    190deg,
    rgb(17, 44, 182) 0%,
    #45b996 10%,
    rgb(17, 44, 182) 12%,

    rgb(225, 49, 78) 90%,
    #107657 100%
  );
  /* new border size */
  padding: 4px;

  border-radius: 26px;

  align-self: stretch;
  justify-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linksdivcontent {
  background: white;
  border-radius: 22px;
  width: 100%;
  height: 100%;
  /* changing this padding will affect the gradient border stuff */
  padding: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linksdivcontent h3 {
  font-size: 25px;
  padding: 10px 30px;
}
.linksdiv.one {
  grid-column: 2;
  grid-row: 3/6;
}
.linksdiv.two {
  grid-column: 4;
  grid-row: 3/6;
}
.linksdiv.big {
  grid-row: 7 / span 2;
  grid-column: 2 / span 3;
}

/* link formatting */
.linksdivcontent a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(24, 18, 70);
}

.linksdivcontent a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;

  font-weight: bold;
  color: rgb(24, 18, 70);
}

span.gradtext {
  background: linear-gradient(
    190deg,
    rgb(17, 44, 182) 0%,
    #45b996 10%,
    rgb(17, 44, 182) 12%,

    rgb(225, 49, 78) 90%,
    #107657 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradtext.big {
  font-size: 30px;
}

/* any and grid stuff is changed here */
@media screen and (max-width: 890px) {
  .maingrid {
    /* initialize a grid here */
    /* use media quieries as well */
    display: grid;
    /* rows / columns */
    grid-template: 1fr 120px 110px repeat(9, 1fr) / 50fr 70% 50fr;
    width: 90vw;
    height: 85vh;
    /* min height is great to have */
    min-height: 550px;

    margin: 50px 50px;
    /* this border style is dooope */
    border: 5px groove rgb(11, 45, 102);
    border-radius: 26px;
    /* this changes where the grid items are in the grid box */
    justify-items: center; /*horizontal*/
    align-items: center; /*vertical*/
  }
  /* well that worked */
  #heading {
    margin: 0;
    font-size: 35px;
  }
  .headingcontainer {
    grid-column: 2;
    grid-row: 2;
    margin: 10px 10px 20px 10px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* grid box stuff */
    align-self: stretch;
    justify-self: stretch;
    padding: 0;
  }

  .aboutdiv {
    grid-column: 2;
    grid-row: 3;

    font-size: 25px;
    /* left padding obsolete */
    padding: 12px 0 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* grid box stuff */
    align-self: stretch;
    justify-self: stretch;

    /* margin: 0; */
  }
  #about {
    line-height: 1;
    /* trbl */
    margin: 0px 20px 0px 10px;
    font-size: 31px;
  }
  /* make fontsize smaller */
  .linksdivcontent h3 {
    font-size: 21px;
    padding: 0px 0px;
  }

  .gradtext.big {
    font-size: 26px;
  }

  .linksdiv.one {
    grid-column: 2;
    grid-row: 4/6;
  }
  .linksdiv.two {
    grid-column: 2;
    grid-row: 7/9;
  }
  .linksdiv.big {
    grid-row: 10 / span 2;
    grid-column: 2;
  }
}
/* makes about more responsive */
@media screen and (max-width: 596px) {
  #about {
    line-height: 1;
    /* trbl */
    /* margin: 30px 20px 60px 10px; */
    font-size: 31px;
  }
}

footer {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px 10px;
  width: 100vw;
  height: 120px;
  background-color: teal;
  color: white;
  box-sizing: border-box;
  flex: 1;
}

footer p {
  margin: 0;
  line-height: 1;
}
.footericons {
  display: flex;
  gap: 0 20px;
}

.footericons a i,
.footericons a svg {
  font-size: 34px;
  width: 30px;
  height: 30px;
  fill: white; /* for SVG */
  color: white; /* for <i> */
}
