/* This file controls the styling for all the subfolders, ie, the ones with the md and csv files */

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
}

/* reuse this set up for future websites */
.sitecontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #3f5efb;
  background: linear-gradient(
    27deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 94, 1) 100%
  );
  width: 94%; /* Shrinks content area */
  padding: 0 3% 0 3%;
  height: 86px;
}

.leftnavbar {
  display: flex;
  flex-direction: row;
}
#navheading {
  color: white;
  font-size: clamp(1rem, 5vw, 2rem);
}
.rightnavbar {
  display: flex;
  flex-direction: row;
  padding: 0 26px;
}
#websitestructure {
  display: flex;
  gap: 8px; /* space between links */
  list-style: none;
  margin: 0;
  padding: 0;
}

#websitestructure li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
#aboutli {
  margin-left: 16px;
}

@media screen and (min-width: 850px) and (max-width: 975px) {
  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #3f5efb;
    background: linear-gradient(
      27deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 94, 1) 100%
    );
    width: 96%; /* Shrinks content area */
    padding: 0 2% 0 2%;
    height: 86px;
  }

  .leftnavbar {
    display: flex;
    flex-direction: row;
  }
  #navheading {
    color: white;
    /* clamp(MIN, FLUID VALUE, MAX)
 */
    font-size: clamp(1rem, 4vw, 1.5rem);
  }
  .rightnavbar {
    display: flex;
    flex-direction: row;
    padding: 0 26px;
  }
  #websitestructure li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
  }
  #aboutli {
    margin-left: 16px;
  }
}

/* small screens */
@media screen and (max-width: 850px) {
  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 clamp(100px, 25vw, 500px);
    background: #3f5efb;
    background: linear-gradient(
      27deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 94, 1) 100%
    );
    width: 96%; /* Shrinks content area */
    padding: 0 2% 0 2%;
    height: 100px;
  }

  .leftnavbar {
    display: flex;
    flex-direction: row;
  }
  #navheading {
    color: white;
    font-size: clamp(1.3rem, 5vw, 1.5rem);
  }
  .rightnavbar {
    display: flex;
    flex-direction: row;
    padding: 0 26px;
  }
  #websitestructure li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
  #aboutli {
    margin-left: 10px;
  }
}

main {
  /* this takes up all available space. And its responsive */
  /* minimum height 350px */
  flex: 1 1 350px;
  border-radius: 20px;
  border: 4px dashed rgb(65, 15, 15);
  /* makes it responsive */
  width: 75%;
  padding: 50px 50px;
  margin: 36px;
}
#abouth1 {
  text-align: center;
}

h3.filetext {
  width: 200px;
}
/* 
h3 a {
  text-decoration-thickness: 4px;
  text-underline-offset: 3px;
} */
h3 .filetext {
  color: teal;
}
.markdownbuttons {
  display: inline;
}

.linkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 40px;
}

/* add animations to these mf's */
.linkbox a i {
  color: rgb(21, 21, 69);
}

/* for the folder indexes:*/

.indexul a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(24, 18, 70);
}

.indexul a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;

  font-weight: bold;
  color: rgb(24, 18, 70);
}

span.gradtext {
  background: linear-gradient(
    250deg,
    rgb(17, 44, 182) 0%,
    rgb(225, 49, 78) 90%,
    rgb(247, 234, 95) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#renderedheading {
  text-align: center;
  font-size: 32px;
}
#renderedheadinghome {
  margin-top: 60px;
  text-align: center;
  color: rgb(6, 6, 63);

  background: linear-gradient(
    27deg,
    rgba(63, 94, 251, 1) 0%,
    rgb(43, 140, 182) 100%
  );
  /* clips the background to the shape of text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 28px;
}

#renderedheadinghome a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 4px;
  text-underline-position: below;

  font-weight: bold;

  background: linear-gradient(
    27deg,
    rgb(196, 83, 105) 0%,
    rgb(43, 140, 182) 100%
  );
  /* clips the background to the shape of text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px 10px;
  width: 100vw;
  height: 120px;
  background-color: teal;
  color: white;
  box-sizing: border-box;
  flex: 1;
}

footer p {
  margin: 0;
  line-height: 1;
}
.footericons {
  display: flex;
  gap: 0 20px;
}

.footericons a i,
.footericons a svg {
  font-size: 34px;
  width: 30px;
  height: 30px;
  fill: white; /* for SVG */
  color: white; /* for <i> */
}
